<%- include('header', { user: user, guild: null, activePage: 'updates' }) %>

<div class="main-content">
    <h1>Atualizações - BOT</h1>
    <div class="update-message-box">
        <p><strong>O Bot ainda está em construção, fazendo de tudo para deixar a melhor experiência para vocês. Espero que gostem do bot! ❤️</strong></p>
        <p>Acompanhe aqui as próximas novidades! Versão 1.0 (Beta) - Filtro de Guildas e Configurações Básicas.</p>
    </div>
</div>

<%- include('footer') %>