<%- include('header', { user: user, guild: guild, activePage: 'events' }) %>
    <div class="main-content">
        <h2>Logs de Eventos Recentes</h2>
        <p>Histórico de mensagens apagadas ou editadas</p>
    </div>
<%- include('footer') %>