<nav id="sidebar">
    <div class="sidebar-header-title">
        <img src="<%= botAvatarUrl %>" alt="Logo" class="bot-logo">
        <h1>Universal Bot</h1>
    </div>

    <ul class="list-unstyled components">
        
        <% if (guild) { %>
            <% } else { %>
            <% } %>

        <li class="separator">MISCELÂNEA</li>
        <% if (guild) { %>
            <li><a href="/dashboard"><i class="fas fa-chevron-left"></i> Voltar</a></li>
        <% } %>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
    
    </nav>